## Importación de Librerías y Carga de Dataset

Aquí se cargan las librerías y el dataset a usar a lo largo del notebook para el proceso de _Analisis de datos_.

In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

# Importación del dataframe de entrenamiento  `application_train.csv`
application_train_df = pd.read_csv('assets/application_train.csv')
application_train_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 1. Cambio de tipo de datos

In [98]:
label_encoder = LabelEncoder()

# Detectar las columnas de tipo `object` las cuales asumiremos como columnas categóricas (categoric features)
print(application_train_df.dtypes.value_counts())
print('-'*20)

# Detectar los valores únicos de las columnas categóricas
categoric_features = application_train_df.select_dtypes('object')
unique_values_by_categoric_features = categoric_features.apply(pd.Series.nunique) # por defecto tiene axis = 0
print(unique_values_by_categoric_features)
print('-'*20)

# Para cambiar el tipo de dato `object` que pertenecen a las features categóricas usaremos el label-encoder de la librería de scikit-learn
for col in unique_values_by_categoric_features.index:
    label_encoder.fit(application_train_df[col])
    application_train_df[col] = label_encoder.transform(application_train_df[col])

application_train_df = pd.get_dummies(application_train_df)

# Verificar que se hallan realizado el cambio de categóricos a numérico
application_train_df.head()

float64    65
int64      41
object     16
Name: count, dtype: int64
--------------------
NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64
--------------------

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 1.1. Información Básica del Dataset

In [99]:
print('Información Básica')

print(f'Shape: {application_train_df.shape}')
print('='*20)
print(f'Columns: {application_train_df.columns.tolist()}')
print('='*20)
print(f'DataTypes:\n{application_train_df.info(verbose=True)}\n')

Información Básica
Shape: (307511, 122)
====================
Columns: ['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
====================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            int64
 3    CODE_GENDER                   int64
 4    FLAG_OWN_CAR                  int64
 5    FLAG_OWN_REALTY               int64
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               int64
 12   NAME_INCOME_TYPE              int64
 13   NAME_EDUCATION_TYPE           int64
 14   NAME_FAMILY_STATUS            int64
 15   NAME_HOUSING_TYPE             int64
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               int64
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    int64
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             int64
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            int64
 87   HOUSETYPE_MODE                int64
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            int64
 90   EMERGENCYSTATE_MODE           int64
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(57)
memory usage: 286.2 MB
DataTypes:
None

## 2. Análisis Descriptivo

In [100]:
# 2. Descriptive Statistics
print('Descriptive Statistics:\n', '='*20)
print(application_train_df.describe(), '\n')

Descriptive Statistics:
 ====================
          SK_ID_CURR         TARGET  NAME_CONTRACT_TYPE    CODE_GENDER  \
count  307511.000000  307511.000000       307511.000000  307511.000000
mean   278180.518577       0.080729            0.095213       0.341669
std    102790.175348       0.272419            0.293509       0.474297
min    100002.000000       0.000000            0.000000       0.000000
25%    189145.500000       0.000000            0.000000       0.000000
50%    278202.000000       0.000000            0.000000       0.000000
75%    367142.500000       0.000000            0.000000       1.000000
max    456255.000000       1.000000            1.000000       2.000000

        FLAG_OWN_CAR  FLAG_OWN_REALTY   CNT_CHILDREN  AMT_INCOME_TOTAL  \
count  307511.000000    307511.000000  307511.000000      3.075110e+05
mean        0.340108         0.693673       0.417052      1.687979e+05
std         0.473746         0.460968       0.722121      2.371231e+05
min         0.000000         0.000000       0.000000      2.565000e+04
25%         0.000000         0.000000       0.000000      1.125000e+05
50%         0.000000         1.000000       0.000000      1.471500e+05
75%         1.000000         1.000000       1.000000      2.025000e+05
max         1.000000         1.000000      19.000000      1.170000e+08

         AMT_CREDIT    AMT_ANNUITY  ...  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  \
count  3.075110e+05  307499.000000  ...     307511.000000     307511.000000
mean   5.990260e+05   27108.573909  ...          0.008130          0.000595
std    4.024908e+05   14493.737315  ...          0.089798          0.024387
min    4.500000e+04    1615.500000  ...          0.000000          0.000000
25%    2.700000e+05   16524.000000  ...          0.000000          0.000000
50%    5.135310e+05   24903.000000  ...          0.000000          0.000000
75%    8.086500e+05   34596.000000  ...          0.000000          0.000000
max    4.050000e+06  258025.500000  ...          1.000000          1.000000

       FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  \
count     307511.000000     307511.000000               265992.000000
mean           0.000507          0.000335                    0.006402
std            0.022518          0.018299                    0.083849
min            0.000000          0.000000                    0.000000
25%            0.000000          0.000000                    0.000000
50%            0.000000          0.000000                    0.000000
75%            0.000000          0.000000                    0.000000
max            1.000000          1.000000                    4.000000

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
count              265992.000000               265992.000000
mean                    0.007000                    0.034362
std                     0.110757                    0.204685
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    0.000000
75%                     0.000000                    0.000000
max                     9.000000                    8.000000

       AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
count              265992.000000              265992.000000
mean                    0.267395                   0.265474
std                     0.916002                   0.794056
min                     0.000000                   0.000000
25%                     0.000000                   0.000000
50%                     0.000000                   0.000000
75%                     0.000000                   0.000000
max                    27.000000                 261.000000

       AMT_REQ_CREDIT_BUREAU_YEAR
count               265992.000000
mean                     1.899974
std                      1.869295
min                      0.000000
25%                      0.000000
50%                      1.000000
75%                      3.000000
max                     25.000000

[8 rows x 122 columns]

# Mostrar datos nulos

In [101]:
import re
# Aqui obtenemos los valores nulos en una cantidad concreto y el porcentaje que representa en cada columna
null_values = application_train_df.isnull().sum()
null_percentage = 100 *  (null_values / application_train_df.shape[0])
    
# al usar concat() lo que hacemos es concatenar en este caso las dos Series para representar su información dentro del data en el eje de las columnasc "notese el axis=!"
null_values_by_column = pd.concat([null_values, null_percentage], axis=1)

# usamos un fancy para retirnar los porcentajes con 0 (presentan completos sus datos)
null_values_by_column_without_0 = null_values_by_column[ null_values_by_column[0] != 0 ].sort_values(ascending=False, by=1)

print(f"De {application_train_df.shape[1]} columnas, {null_values_by_column_without_0.shape[0]} presentan datos nullos")

De 122 columnas, 61 presentan datos nullos

# Correlaciones con base a la columa TARGET

In [106]:
# 5. Correlation
# Calcular la matriz de correlación
correlation_matrix = application_train_df.corr()

# Visualizar la matriz de correlación
plt.figure(figsize=(15, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.show()

ValueError: could not convert string to float: 'Cash loans'

In [103]:
reseted_index = null_values_by_column_without_0.reset_index()

application_train_df = application_train_df.drop(columns=reseted_index[reseted_index['index'].str.contains('_AVG|_MODE|_MEDI')]['index'])

null_values = application_train_df.isnull().sum()
null_percentage = 100 *  (null_values / application_train_df.shape[0])
    
# al usar concat() lo que hacemos es concatenar en este caso las dos Series para representar su información dentro del data en el eje de las columnasc "notese el axis=!"
null_values_by_column = pd.concat([null_values, null_percentage], axis=1)

# usamos un fancy para retirnar los porcentajes con 0 (presentan completos sus datos)
null_values_by_column_without_0 = null_values_by_column[ null_values_by_column[0] != 0 ].sort_values(ascending=False, by=1)

print(f"De {application_train_df.shape[1]} columnas, {null_values_by_column_without_0.shape[0]} presentan datos nulos")

null_values_by_column_without_0

De 79 columnas, 18 presentan datos nullos

                                 0          1
OWN_CAR_AGE                 202929  65.990810
EXT_SOURCE_1                173378  56.381073
EXT_SOURCE_3                 60965  19.825307
AMT_REQ_CREDIT_BUREAU_MON    41519  13.501631
AMT_REQ_CREDIT_BUREAU_YEAR   41519  13.501631
AMT_REQ_CREDIT_BUREAU_QRT    41519  13.501631
AMT_REQ_CREDIT_BUREAU_WEEK   41519  13.501631
AMT_REQ_CREDIT_BUREAU_DAY    41519  13.501631
AMT_REQ_CREDIT_BUREAU_HOUR   41519  13.501631
OBS_30_CNT_SOCIAL_CIRCLE      1021   0.332021
DEF_60_CNT_SOCIAL_CIRCLE      1021   0.332021
DEF_30_CNT_SOCIAL_CIRCLE      1021   0.332021
OBS_60_CNT_SOCIAL_CIRCLE      1021   0.332021
EXT_SOURCE_2                   660   0.214626
AMT_GOODS_PRICE                278   0.090403
AMT_ANNUITY                     12   0.003902
CNT_FAM_MEMBERS                  2   0.000650
DAYS_LAST_PHONE_CHANGE           1   0.000325